<!-- Top Navigation -->
<auth-header>
</auth-header>

<section class="main__container">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="col col-lg-9 points__calculator--blk">
                <div class="main_heading">Points Calculator</div>
                <div class="row">
                    <div class="col-lg-7 col-md-7 left_blk">
                        <p>The Points Calculator is the easiest way to find the reward points you gain for an intended purchase.
                            Simply pick your brand and enter the price in the calculator to reveal your windfall.
                        </p>
                        <ul>
                            <li>Rs 1.00 equals 01
                                <span>ACCESS REWARDS</span> Point</li>
                            <li class="orange_color">4 reward points earned per purchase of Rs.100 </li>
                            <li class="blue_color">Reward points credited within 24 hours.</li>
                        </ul>
                    </div>

                    <div class="col-lg-5 col-md-5 right_blk">


                        <form>
                            <div class="form-group">
                                
                                <input type="email" class="form-control" placeholder="Pick a Brand">
                                <!-- <small id="emailHelp" class="form-text text-muted">Enter Phone number</small> -->
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter item amount(Rs)">
                                <!-- <small id="emailHelp" class="form-text text-muted">Enter First name</small> -->
                            </div>
                           <button class="btn">CALCULATE POINTS</button>
                           <div class="point-blk">
                               <span>0000</span>
                           </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>