<!-- Top Navigation -->
<auth-header>
</auth-header>
<section class="main__container faq__nav--blk">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="col col-lg-10 col-md-12">
                <div class="breadcrumb__blk">
                    <a>
                        <img src="assets/img/home.svg" alt="">
                    </a>
                    <span class="arrow"><i class="fa fa-caret-right" aria-hidden="true"></i>
                    </span>
                    <span class="text">FAQs</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-10 col-md-12 contacts--blk content__holder ">
                <div class="faq__blk">
                    <div class="faq__top--holder animated">
                        <h1>Got questions? <br>We are here to help.</h1>
                        <hr class="hr-gradient">
                        <!-- <p>Here is a select list of frequent questions about our platform.<br> See if yours is here.</p> -->
                        <p>Do you have a question, comment or suggestion to pass along? <br>Please use the contact form to write to us.
                        </p>
                    </div>
                    <div class="faq-nav">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <a class="faq-nav__link scroll-to-link animated" href="/faq#for-parents">
                                    <img src="assets/img/faq.svg" alt="">
                                    <span>FAQs</span>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a class="faq-nav__link scroll-to-link animated" href="/faq#for-parents-general">
                                    <img src="assets/img/general.svg" alt="">
                                    <span>General</span>

                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a class="faq-nav__link scroll-to-link animated" href="/faq#for-parents-terms">
                                    <img src="assets/img/terms.svg" alt="">
                                    <span>Terms and Conditions</span>

                                </a>
                            </div>
                        </div>



                    </div>
                </div>







            </div>
        </div>
    </div>
</section>



<section class="main__container faq__con--blk">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="col col-lg-8 col-md-12 contacts--blk content__holder ">
                <div class="faq__name" id="for-parents"></div>
                <div class="faq__name">FAQs</div>
                <hr class="hr-gradient">
                <div class="card card-body">
                    <ul>
                        <li>What is the ACCESS REWARDS Program all about? </li>
                        <p>The ACCESS REWARDS Program is a loyalty program for customers of all Tablez Brands as below:</p>
                        <ul>
                            <li>Cold Stone</li>
                            <li>ToysRUs</li>
                            <li>BabiesRUs</li>
                            <li>Springfield</li>
                            <li>Women'Secret</li>
                            <li>Galito's</li>
                            <li>Bloomsbury’s</li>
                        </ul>
                        <li> What is special about the ACCESS REWARDS Program? </li>
                        <ul>
                            <li>In ACCESS REWARDS, we reward our loyal customers with points on every purchase made at any Tablez brand stores. Additionally, we also run special offers &amp; promotions.
                            </li>
                        </ul>

                        <li>How can a customer become a ACCESS REWARDS Program member? </li>
                        <ul>
                            <li>To become an ACCESS REWARDS Member, you just need to be a customer at any of the Tablez brand outlets in India and register for ACCESS REWARDS Program
                            </li>
                            <li>Submit the requested details to the store management.</li>
                            <li>On registration as an ACCESS REWARDS Program member, you will receive a welcome text message or an e-mail.
                            </li>
                        </ul>



                        <li>Is there any joining fee at the time of registration? </li>
                        <ul>
                            <li>The membership is absolutely FREE. There is no joining fee.</li>
                        </ul>

                        <li>What is the information required to become a ACCESS REWARDS Program member?
                        </li>
                        <ul>
                            <li>Name </li>
                            <li>Mobile phone number </li>
                            <li>Date of Birth</li>
                            <li>Anniversary Date</li>
                            <li>PIN CODE </li>
                            <li>Email address </li>
                            <li>Home Address </li>
                            <li>Child’s Name* </li>
                            <span>*applicable in ToysRUs &amp; BabiesRUs stores only.
                                </span>
                        </ul>
                        <li>How do I earn points?

                        </li>
                        <ul>
                            <li>You will start earning 4 points for every Rs. 100 worth of purchase after registration
                            </li>
                            <li>Once you enroll in the program and make your first purchase, you will also receive 150 BONUS points in addition to the normal points earned for your purchase </li>
                            <li>Please ensure that you quote your Mobile number to the cashier before billing to collect your points. You&#39;ll automatically earn points for all eligible transactions </li>
                            <li>Tax gratuity and other exclusions are not eligible </li>
                            <li>Please check at store how many points you will earn on every transaction
                            </li>

                        </ul>

                        <li>What is the value of each earned point in ACCESS REWARDS Program?
                        </li>
                        <ul>
                            <li>One ACCESS REWARDS Point is equivalent to INR 1.00</li>

                        </ul>
                        <li>When will the earned points be credited to the ACCESS REWARDS Program?
                        </li>
                        <ul>
                            <li>The points will be credited to your account within 24 hours.</li>
                            <li>If the points are not credited within 24 hours, please call and quote your bill number.
                            </li>

                        </ul>

                        <li> I haven’t been credited my ACCESS REWARDS Program points for the purchase I made. What do I do?</li>
                        <ul>
                            <li>If you have not received the points, kindly escalate the matter to the store manager within 48hrs. Please carry a physical copy of the bill for perusal of store management.
                            </li>
                            <li>The store management will ensure your valuable points are updated.</li>
                        </ul>

                        <li>How do I redeem my accumulated points in ACCESS REWARDS Program? </li>
                        <ul>
                            <li>You provide your mobile number registered with ACCESS Rewards Program to the store cashier to redeem your points. </li>
                            <li>Redeem anytime &amp; any number of points from the available point balance in your ACCESS Rewards account. You can check your balance at any of our brand stores.
                            </li>
                        </ul>
                        <li>Is there a validity period for the ACCESS REWARDS Program points? </li>
                        <ul>
                            <li>Yes. The ACCESS Rewards points will be valid for 1 year from date of issue.
                            </li>
                        </ul>
                        <li>How can I check my ACCESS REWARDS Program points balance? </li>
                        <ul>
                            <li>You can check your point balance at any of the Tablez group brand stores in India. </li>
                        </ul>
                        <li> My mobile phone number has changed, what do I need to do continue with the ACCESS REWARDS Program? </li>
                        <ul>
                            <li>For verification purposes, please provide a valid proof of identity with photo - Aadhaar Card, Driving License, PAN Card - in person. The amendment will take 48 hours after verification is done. </li>
                        </ul>
                        <li> I am a member without a valid mobile number and do not have proof to claim I am an existing ACCESS REWARDS Program member? </li>
                        <ul>
                            <li>For customers enrolled with an invalid mobile number and unverifiable in any way, we will register you as a new customer. Please fill up the enrollment form to start the new ACCESS REWARDS account.
                            </li>
                        </ul>
                    </ul>
                </div>

                <div class="faq__name" id="for-parents-general">GENERAL</div>
                <hr class="hr-gradient">
                <div class="card card-body">
                    <p>If a mobile number to which a membership is issued under the Program changes, the new number may be issued a membership with the rewards balance remaining at the time the Program member has notified TABLEZ that the membership mobile
                        number has changed. TABLEZ may, in its discretion, modify the Program rewards or substitute rewards of comparable value without notice. TABLEZ reserves the right to audit any Program account at any time. Standard text and messaging
                        rates apply.</p>
                    <p>
                        <span>ACCESS REWARDS</span> Program management is not responsible or liable for any member correspondence lost or delayed through sms / e-mail due to DND/SPAM or any other reason </p>
                    <p>All the terms and conditions stated herein are non-negotiable and TABLEZ shall have the sole discretionary power to terminate the program and / or alter any offer / voucher as and when required, without any intimation. </p>
                    <p>By enrolling in the Program, you authorize TABLEZ, our subsidiaries and affiliates, and our third-party contractors engaged in connection with the Program (including ER), to contact you regarding the Program, including periodic updates
                        about the Program and other TABLEZ announcements and promotions, via text message or e-mail. You may opt out of receiving such materials or messages by emailing us at wish@easyrewardz.com. If you opt out, you authorize TABLEZ,
                        our subsidiaries and affiliates, and our third-party contractors to send you an email and/or text message confirming your opt out.
                    </p>

                    <p class="mt25">
                        <span>Dispute Resolution</span>
                        <br> Management&#39;s decision will be final regarding disputes, if any, arising in connection to ACCESS REWARDS Program. In the event of any further dispute hereto in respect of and / or concerning ACCESS REWARDS Program, no customer
                        can approach the court for dispute claimant. Member has to produce a copy of the bill in case of any discrepancy in point updation.Any discrepancy in point updation should be brought forward within 48 hrs of the transaction. Management
                        will not be responsible for point updation beyond that.
                    </p>
                    <p class="mt25">
                        <span>Privacy</span>
                        <br> By enrolling in the Program, you authorize TABLEZ, our subsidiaries and affiliates, and our third-party contractors engaged in connection with the Program to share information about you and your ACCESS REWARDS Program account
                        among such entities (but not with any other third parties) as necessary to effect, administer, enforce, service and fulfill the ACCESS REWARDS Program. Any personal information collected about you through this program is subject
                        to our privacy policy.

                    </p>

                    <p class="mt25">
                        <span>Privacy</span>
                        <br> By enrolling in the Program, you authorize TABLEZ, our subsidiaries and affiliates, and our third-party contractors engaged in connection with the Program to share information about you and your ACCESS REWARDS Program account
                        among such entities (but not with any other third parties) as necessary to effect, administer, enforce, service and fulfill the ACCESS REWARDS Program. Any personal information collected about you through this program is subject
                        to our privacy policy.

                    </p>

                    <p class="mt25">
                        <span>Termination of the Program</span>
                        <br> TABLEZ reserve the right to discontinue the ACCESS REWARDS Program at any time. When the ACCESS REWARDS Program is terminated, each Program member will be allowed to redeem any points in that member&#39;s account as of the
                        stated termination date of the ACCESS REWARDS Program, provided the member redeems such points within 90 days following the Program termination date.

                    </p>
                    <p class="mt25">
                        <span>Points Expiration
                            </span>
                        <br>All points in any ACCESS REWARDS Program account inactive for 12 months will expire, and all points in an account terminated by TABLEZ will immediately expire upon such termination. Points obtained through special promotional
                        offers may have additional limitations, including limited time periods for you to use such points and/or accelerated expiration schedules. All other points have a rolling 12- month validity where in points earned in a month will
                        expire 12 months from month of earning.


                    </p>
                    <p class="mt10">
                        <span>Registration</span>
                    </p>
                    <ul>
                        <ul>
                            <li>Member’s mobile phone number would be his / her unique identification number for the membership.
                            </li>
                            <li>Complete name (first name and last name) mobile number, email and DOB are mandatory for registration in the program.
                            </li>
                        </ul>
                    </ul>


                    <p class="mt10">
                        <span>Redeeming Points</span>
                    </p>
                    <ul>
                        <ul>
                            <li>Rewards/discounts/paying by points against accrued points are not automatically issued; points must be redeemed to receive a reward/avail discounts/pay by points.
                            </li>
                            <li>Unless otherwise required by law, no cashback will be paid on any reward.
                            </li>
                            <li>There could be special redemption, which are timed redemptions. </li>
                            <li>Rewards are non transferable &amp; non redeemable for cash</li>
                        </ul>
                    </ul>
                    <p class="mt10">
                        <span>Earning Points
                            </span>
                    </p>
                    <ul>
                        <ul>
                            <li>Points may be earned for shopping at the stores of TABLEZ only. Points may not be earned on amounts associated with taxes, exclusions, sale period as defined by the company
                            </li>

                        </ul>
                    </ul>
                </div>


                <div class="faq__name" id="for-parents-terms">TERMS AND CONDITIONS</div>
                <hr class="hr-gradient">
                <div class="card card-body">
                    <ul>
                        <ul>
                            <li>
                                At the time of purchase, please provide your Mobile number at the TABLEZ brand store to collect points.

                            </li>


                            <li>
                                Points can be collected and spent only at TABLEZ brand stores


                            </li>


                            <li>
                                The program is not transferable to another person.


                            </li>


                            <li>
                                The program and its benefits are subject to applicable taxes, if any.



                            </li>

                            <li>
                                The point offer cannot be clubbed with any other discounts / offers / activity.



                            </li>


                            <li>

                                The membership can be cancelled by the management if found to be misused in any way.



                            </li>


                            <li>
                                TABLEZ employees and direct relatives are not eligible to become members.

                            </li>


                            <li>
                                Points will get updated immediately provided the membership number is quoted at the time of purchase.


                            </li>



                            <li>
                                Any discrepancy in point updation should be pointed out to store management within 48 hrs of the transaction. Management will not be responsible for point updation beyond that.


                            </li>




                            <li>
                                The Member has to produce a copy of the invoice in case of any discrepancy in point updation.



                            </li>




                            <li>
                                Points awarded to members are subject to change at Management&#39;s discretion.



                            </li>



                            <li>
                                ACCESS REWARDS management is not responsible or liable for any member correspondence lost or delayed through sms / e-mail due to DND/SPAM or any other reason




                            </li>




                            <li>
                                Once enrolled, the membership is valid for lifetime from the membership date OR till the validity of the program.




                            </li>


                            <li>
                                All the terms and conditions stated herein are non-negotiable and TABLEZ shall have the sole discretionary power to terminate the program and / or alter any offer / voucher as and when required, without any intimation.




                            </li>


                            <li>
                                Management&#39;s decision will be final regarding disputes, if any, arising in connection to TABLEZ. In the event of any further dispute hereto in respect of and / or concerning TABLEZ, the civil courts in Mumbai shall have exclusive jurisdiction.





                            </li>

















                        </ul>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>