<!-- Top Navigation -->
<auth-header>
</auth-header>

<section class="main__container">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="col col-lg-10 contacts--blk content__holder">
                <div class="sub_heading">About Tablez</div>
                <div class="row content__blk row align-items-center">


                        <div class="col-lg-12 col-md-12 right_blk" *ngIf="configConstant.currentCountry === 'india'">

                        <p>Tablez, the brand-retailing unit of LuLu Group International, has diverse interests in fashion, specialty retail and F&B in GCC and India. Tablez has already invested ₹200+ crores across its stores in India and plans to invest further ₹300 crore over the next five years in leading global brands through master franchise agreements.  <br>
                           
						   <br>Tablez has an established footprint of 15+ F&B outlets across Kerala, Karnataka, Tamil Nadu and Delhi NCR, including US-based premium ice cream chain Cold Stone Creamery, South African flame-grilled chicken concept Galito’s and homegrown global kitchen & bake-house Bloomsbury’s. Tablez has also introduced Spanish fashion retail group Grupo Cortefiel's fast casual brand Springfield and lingerie and innerwear brand Women’secret to India with 5+ stores in Bengaluru and Mumbai.<br>
                            
							<br>The group has a master-franchise agreement with US brand Toys 'R' Us, the world's leading dedicated toy and juvenile products retailer, and operates two Toys 'R' Us and Babies 'R' Us outlets in India at Bengaluru, with more stores coming soon. Tablez plans to foray soon into other verticals such as sports, cosmetics and footwear. With an additional 20+ F&B stores in UAE, Tablez currently operates more than 50 outlets globally and plans to increase the number to 100+ by the end of 2019. 
                            <br>
							<br>
							Tablez is an everyday company, offering an authentic personal experience. With its wide portfolio of products, Tablez intends to capture the customer’s attention on a daily basis. Quality at sustainable pricing with an exceptional customer service continues to be its salient core approach.
                        </p>
                        <a target="blank" href="http://tablez.com/">Visit Website </a>
</div>

                    <div class="col-lg-12 col-md-12 right_blk" *ngIf="configConstant.currentCountry === 'uae'">
                       <p>Tablez, the brand-retailing unit of LuLu Group International, has diverse interests in fashion, specialty retail and F&B in GCC and India. 
					   
                        <p>In UAE, Tablez has more than 20+ outlets of world class F&B brands including legendary American pit barbeque concept Famous Dave’s, South African flame-grilled chicken concept Galito’s, American brasserie Sugar Factory, pan Asian cuisine concept Genghis Grill, all-day dining concept Pancake House as well as home grown brands - global kitchen & bake-house Bloomsbury’s and fine dining colonial Indian themed restaurant Peppermill.


                            <br>
                            <br> With additional 25+ stores in India, Tablez currently operates more than 50 outlets globally and plans to increase the number to 100+ by the end of 2019.   <br>
                            <br> Tablez is an everyday company, offering an authentic personal experience. With its wide portfolio of products, Tablez intends to capture the customer’s attention on a daily basis. Quality at sustainable pricing with an exceptional customer service continues to be its salient core approach.

                        </p>
                        <a target="blank" href="http://tablez.com/">Visit Website </a>
</div>
                    <!-- <div class="col-lg-5 col-md-5 left_blk text-center">
                        <img src="assets/img/tablez.svg" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>