<!-- Top Navigation -->
<auth-header>
</auth-header>

<section class="main__container">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="col col-lg-10 contacts--blk content__holder">
                <div class="sub_heading">About Tablez</div>
                <div class="row content__blk row align-items-center">


                    <div class="col-lg-12 col-md-12 right_blk">

                        <p>Tablez, the brand retailing unit of UAE’s $6.2-billion LuLu Group International, has diverse interests in fashion, speciality retail and food and beverages in GCC and India. Tablez plans to invest ₹250-300 crore in India over the
                            next five years, to set up 220 outlets of leading global brands through master franchise agreements.
                            <br>
                            <br>TTablez has an established footprint of seven F&B outlets in Kochi and Bengaluru, including US-based ice cream parlour chain Cold Stone Creamery, South African flame-grilled chicken concept Galito’s and home-grown boutique
                            café Bloomsbury’s. Tablez has also unveiled the first stores of Spanish fashion retail group Grupo Cortefiel's fast casual brand Springfield and lingerie and innerwear brand Women’secret in Bangalore and Mumbai. The group has
                            a master-franchise agreement with US brand Toys 'R' Us, the world's leading dedicated toy and juvenile products retailer, to operate Toys 'R' Us and Babies 'R' Us branded outlets in India. Tablez plans to foray soon into other
                            verticals such as sports, cosmetics and footwear. Tablez currently operates more than 35 outlets globally and has plans to increase the number to 50 by the end of 2018.
                            <br>
                            <br>Tablez is an everyday company, offering an authentic personal experience. With its wide portfolio of products, Tablez intends to capture the customer’s attention on a daily basis. Premium quality at sustainable pricing
                            with an exceptional customer service continues to be its salient core approach. About

                        </p>
                        <a target="blank" href="http://tablez.com/">Tablez</a>
                    </div>
                    <!-- <div class="col-lg-5 col-md-5 left_blk text-center">
                        <img src="assets/img/tablez.svg" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>