<!-- Top Navigation -->
<auth-header>
</auth-header>
<div *ngIf="brandDetails">
  <div *ngIf="brandDetails.brand_id === '10'" class="BabiesRUs__top-bg">
    <img class="about_img" src="assets/img/con-bg-4.svg" alt="">
  </div>
</div>
<section class="main__container">
  <div class="container ">
    <div class="row justify-content-md-center" *ngIf="brandDetails">
      <div class="col col-lg-10 contacts--blk content__holder brand__details--blk">
        <div (click)="reload()">
          <a>
            <i class="fa fa-angle-left" aria-hidden="true"></i> Back </a>
        </div>
        <div class="sub_heading">
          <img src="{{brandDetails.brand_logo}}" alt="">
        </div>
        <div class="row content__blk row align-items-center">


          <div class="col-lg-12 col-md-12 right_blk">

            <p>{{brandDetails.description}}
            </p>
            <a target="blank" href="{{brandDetails.website_url}}">Visit website</a>
          </div>
          <div class="col-lg-12">
            <div class="brand__img--blk">

              <img src="{{brandDetails.image1}}" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Brand Background -->
<div *ngIf="brandDetails">
  <div *ngIf="brandDetails.brand_id === '9'" class="ToysRUs__bottom-bg">
    <img class="about_img" src="assets/img/con-bg-1.svg" alt="">
  </div>
  <div *ngIf="brandDetails.brand_id === '10'" class="BabiesRUs__bottom-bg">
    <img class="about_img" src="assets/img/con-bg-7.svg" alt="">
  </div>
</div>
