<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a [routerLink]="['/']" routerLinkActive="active-link">
                    <img src="assets/img/logo.svg">
                </a>
            </div>
            <div class="col-lg-2">
                <h4>PAGES</h4>
                <ul>
                    <li>
                        <a (click)="showNav(false)" href='/index#fws_5a5a4fb8d4bfc'>Store Locator </a>
                    </li>
                    <li>
                        <a [routerLink]="['/about']" routerLinkActive="active-link">About</a>
                    </li>
                    <li>
                        <a [routerLink]="['/tablez']" routerLinkActive="active-link">About Tablez </a>
                    </li>
                    <li>
                        <a [routerLink]="['/brand']" routerLinkActive="active-link">Participating Brands </a>
                    </li>
                    <li>
                        <a [routerLink]="['/points-calculator']" routerLinkActive="active-link">Points Calculator </a>
                    </li>

                    <li>
                        <a [routerLink]="['/faq']" routerLinkActive="active-link">FAQs</a>
                    </li>
                    <li>
                        <a>Program Rules</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact']" routerLinkActive="active-link">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>GET IN TOUCH </h4>
                <p>Abhimanyu Rathore
                    <br><a href="mailto:abhimanyu.rathore@in.tablez.com">abhimanyu.rathore@in.tablez.com</a>


                </p>
                <ul>
                    <li>

                    </li>
                    <li>

                    </li>

                </ul>
            </div>
            <div class="col-lg-3">
                <h4>FIND US
                </h4>
                <p>LuLu Tower, 971/B, M K K Nair Road, Vazhakkala, Kochi, Kerala 682030
                </p>
                <br>
                <br>
                <br>
                <br>
                <p>Sathya Sai Layout, Whitefield, Bengaluru, Karnataka 560066
                </p>
            </div>
        </div>
    </div>
</footer>
<div id="copyright">
    <div class="container">
        <p>© 2018 Accessrewards. All Rights Reserved
            <a target="blank" href="http://www.tablez.com/">www.tablez.com</a>
        </p>
    </div>


</div>