<footer class="app-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a>
                    <img src="assets/img/logo.svg">
                </a>
            </div>
            <div class="col-lg-2">
                <h4>PAGES</h4>
                <ul>
                    <li>
                        <a>Store Locator </a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>About Tablez </a>
                    </li>
                    <li>
                        <a>Participating Brands </a>
                    </li>
                    <li>
                        <a>Points Calculator </a>
                    </li>

                    <li>
                        <a>FAQs</a>
                    </li>
                    <li>
                        <a>Program Rules</a>
                    </li>
                    <li>
                        <a>Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>GET IN TOUCH </h4>
                <p>Abhimanyu Rathore
                    <br> abhimanyu.rathore@in.tablez.com
                </p>
                <ul>
                    <li>

                    </li>
                    <li>

                    </li>

                </ul>
            </div>
            <div class="col-lg-3">
                <h4>FIND US
                </h4>
                <p>LuLu Tower, 971/B, M K K Nair Road, Vazhakkala, Kochi, Kerala 682030
                </p>
                <br>
                <br>
                <p>Sathya Sai Layout, Whitefield, Bengaluru, Karnataka 560066
                </p>
            </div>
        </div>
    </div>
</footer>