<!-- Top Navigation -->
<auth-header>
</auth-header>

<section class="main__container">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="col col-lg-12 contacts--blk">
                <div class="main_heading">Contacts and Feedback</div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 left_blk">
                        <img src="assets/img/contact_img.svg" alt="">
                    </div>

                    <div class="col-lg-5 col-md-6 right_blk">


                        <form>
                            <div class="form-group">

                                <input type="email" class="form-control" placeholder="Name">
                                <!-- <small id="emailHelp" class="form-text text-muted">Enter Name</small> -->
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                                <!-- <small id="emailHelp" class="form-text text-muted">Enter Email</small> -->
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Mobile">
                                <!-- <small id="emailHelp" class="form-text text-muted">Enter Mobile</small> -->
                            </div>
                            <div class="form-group">
                                <textarea class="form-control h130" placeholder="Message" rows="3"></textarea>

                                <!-- <small id="emailHelp" class="form-text text-muted">Enter Phone number</small> -->
                            </div>

                            <button class="btn">Send Message</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>