.page-home header,
body {
    overflow-x: hidden;
}

.page-home header {
    position: fixed;
    height: 100vh;
    width: 80%;
    z-index: 1;
    margin: 0 10%;
    float: left;
}

#particleWrapper {
    width: 380px;
    margin: 80px auto 0;
}

.settings {
    display: none;
}

canvas {
    width: 380px;
    height: 380px;
}

@media (max-width: 560px) {
    .page-home header {
        width: 100%;
        margin: 0;
    }
    #particleWrapper {
        width: 280px;
        margin: 101px auto 0;
    }
    canvas {
        width: 280px;
        height: 280px;
    }
}