<!-- Top Navigation -->
<ur-header class="">
</ur-header>



<div class='wrap'>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
    <div class='c'></div>
</div>


<main role="main">
    <div id="myCarousel" class="carousel slide slider__blk" data-ride="carousel">
        <div class="pagination-dots carousel-indicators pagination-navigation">
            <button data-target="#myCarousel" data-slide-to="0" class="pagination-dot active" style="transform: translate(0px, 0px); opacity: 1;"></button>
            <button data-target="#myCarousel" data-slide-to="1" class="pagination-dot" style="transform: translate(0px, 0px); opacity: 1;"></button>
            <button data-target="#myCarousel" data-slide-to="2" class="pagination-dot " style="transform: translate(0px, 0px); opacity: 1;"></button>
            <button data-target="#myCarousel" data-slide-to="3" class="pagination-dot " style="transform: translate(0px, 0px); opacity: 1;"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="top_banner--blk">
                    <div class="container">
                        <div class="carousel-caption">
                            <img class="animated lightSpeedIn" src="assets/img/banner_logo_icon.svg" alt="">
                            <h1 class="animated flipInX">WHAT’S ON YOUR
                                <span>LIST TODAY? </span>
                            </h1>
                            <p class="animated lightSpeedIn">100% FREE membership. Joining bonus of 150 points.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item1">
                <div class="top_banner--blk">
                    <div class="container">
                        <div class="carousel-caption">
                            <img class="animated lightSpeedIn" src="assets/img/banner_logo_icon.svg" alt="">
                            <h1 class="animated flipInX">WHAT’S ON YOUR LIST TODAY? </h1>
                            <p class="animated lightSpeedIn">100% FREE membership. Joining bonus of 150 points.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="top_banner--blk">
                    <div class="container">
                        <div class="carousel-caption">
                            <img class="animated lightSpeedIn" src="assets/img/banner_logo_icon.svg" alt="">
                            <h1 class="animated flipInX">WHAT’S ON YOUR LIST TODAY? </h1>

                            <p class="animated lightSpeedIn">100% FREE membership. Joining bonus of 150 points.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item1">
                <div class="top_banner--blk">
                    <div class="container">
                        <div class="carousel-caption">
                            <img class="animated lightSpeedIn" src="assets/img/banner_logo_icon.svg" alt="">
                            <h1 class="animated flipInX">WHAT’S ON YOUR LIST TODAY? </h1>
                            <p>100% FREE membership. Joining bonus of 150 points.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="rewards__blk">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-10">
                    <h1>Why Access Rewards?</h1>
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="assets/img/reward1.svg" alt="">
                            <h2>Lightweight Rewards </h2>
                            <p>No heap of loyalty cards to bog you down. Earn points using just your mobile number.
                            </p>
                        </div>

                        <div class="col-lg-4 text-center">
                            <img src="assets/img/reward2.svg" alt="">
                            <h2>Accepted at Tablez stores </h2>
                            <p>Use your Access Rewards points to reap discounts at Tablez brand stores across India.
                            </p>
                        </div>

                        <div class="col-lg-4 text-center">
                            <img src="assets/img/reward3.svg" alt="">
                            <h2>Exclusive Offers</h2>
                            <p>Member-only previews and tailor-made deals. More and even more benefits for you
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="our__brand--blk">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-10">
                    <h1>Our Brands</h1>
                    <div class="row spacing10">
                        <a class="col-lg-3 col-md-6" *ngFor="let item of brands" [routerLink]="['/ourbrand', item.brand_id]">

                            <div class="card">
                                <div class="card-header">
                                    <div>
                                        <img src="{{item.logo}}" alt="Brand Logo">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{item.brand_name}}</h5>
                                    <p class="card-text">{{item.description | truncate : 100 : "…"}}</p>
                                </div>
                            </div>

                        </a>
                        <div class="col-lg-3 col-md-6">
                            <div class="card view__all--brand">
                                <div class="card-header">
                                    <div class="o_auto">
                                        <a [routerLink]="['/brand']" class="btn">View All Brands</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <div class="map__block" id="fws_5a5a4fb8d4bfc" data-midnight="dark" style="float:left;width:100%; position:relative;">
        <ngui-map zoom="5" center="Bengaluru, India">
            <marker *ngFor="let pos of positions" [position]="pos"></marker>
        </ngui-map>
        <div class="map__search__blk">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6 col-md-10 col-sm-10">
                    <div class="row no-gutters">
                        <div class="col-10 col-lg-10 col-md-10 col-sm-10">
                            <div class="search">
                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label>Select Brand</label>
                                        <select class="custom-select" [ngModel]="brandIndex" (ngModelChange)="onBrandChange($event)">
                      <option *ngFor="let item of bandList; let i=index" [value]="i">
                        {{item.brand_name}}</option>
                    </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label>Select City</label>
                                        <select class="custom-select" [ngModel]="cityIndex" (ngModelChange)="onCityChange($event)">
                      <option *ngFor="let item of cityList; let i=index" [value]="i">
                        {{item.city}}</option>
                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-2 col-lg-2 col-md-2 col-sm-2">
                            <button (click)="positions = getRandomMarkers()">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a [routerLink]="['/']">
                        <img src="assets/img/logo.svg">
                    </a>
                </div>
                <div class="col-lg-2">
                    <h4>PAGES</h4>
                    <ul>
                        <li>
                            <a>Store Locator </a>
                        </li>
                        <li>
                            <a [routerLink]="['/about']">About us </a>
                        </li>
                        <li>
                            <a [routerLink]="['/tablez']">About Tablez </a>
                        </li>
                        <li>
                            <a [routerLink]="['/brand']">Participating Brands </a>
                        </li>
                        <li>
                            <a [routerLink]="['/points-calculator']">Points Calculator </a>
                        </li>

                        <li>
                            <a [routerLink]="['/faq']">FAQs</a>
                        </li>
                        <li>
                            <a>Programme Rules </a>
                        </li>
                        <li>
                            <a [routerLink]="['/contact']">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>GET IN TOUCH </h4>
                    <p>Abhimanyu Rathore
                        <br> abhimanyu.rathore@in.tablez.com
                    </p>
                    <ul>
                        <li>

                        </li>
                        <li>

                        </li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>FIND US
                    </h4>
                    <p>LuLu Tower, 971/B, M K K Nair Road, Vazhakkala, Kochi, Kerala 682030
                    </p>
                    <br>
                    <br>
                    <p>Sathya Sai Layout, Whitefield, Bengaluru, Karnataka 560066
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div id="copyright">
        <div class="container">
            <p>© 2018 Accessrewards. All Rights Reserved
                <a [routerLink]="['/']">www.tablez.com</a>
            </p>
        </div>


    </div>
</main>