.nav__access {
    min-height: 42px;
    margin: 0 0 0 0;
    padding: 20px 40px;
    z-index: 3;
    position: absolute;
    width: 100%;
    float: left;
    &.inner__nav--bg {
        @extend %gradient__nav;
    }
    .tablez--logo {
        svg {
            width: 125px;
        }
    }
    @media (max-width: 768px) {
        margin: 0 0 0 0;
        padding: 15px 20px;
        position: fixed;
        top: 0;
        min-height: 20px;
        width: 100%;
        background: #4858d3;
        z-index: 9999;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
        .tablez--logo {
            display: none;
        }
    }
    @media (max-width: 440px) {
        padding: 10px 20px;
        float: left;
    }
    .ml-auto {
        @media (max-width: 768px) {
            flex-direction: row;
        }
    }
    .navbar-brand {
        padding: 0;
        margin: -5px 0 0 0;
        img {
            height: 28px;
            @media (max-width: 600px) {
                height: 16px;
            }
        }
    }
    .tablez_logo {
        height: 40px;
        margin: 0 0 0 0;
    }
    .search {
        img {
            height: 18px;
            margin: -5px 0 0 0;
        }
    }
    .fa {
        font-size: 21px;
        color: #fff;
        position: relative;
        &:after {
            display: inline-block;
            content: "";
            height: 20px;
            position: absolute;
            left: -18px;
            opacity: 1;
            top: 50%;
            margin-top: -10px;
            -webkit-transition: top 0.3s ease-out, margin-top 0.3s ease-out, height 0.3s ease-out, border-color 0.25s ease;
            transition: top 0.3s ease-out, margin-top 0.3s ease-out, height 0.3s ease-out, border-color 0.25s ease;
            @media (max-width: 600px) {
                border-left: 0!important;
            }
        }
    }
    ul {
        li {
            a {
                padding: 0 0 0 18px !important;
                margin: 12px 0 0 18px;
                @media (max-width: 600px) {
                    padding: 0 0 0 5px !important;
                    margin: 10px 0 0 5px;
                }
                &.login_btn {
                    border: 1px solid #fff;
                    min-width: 65px;
                    height: 22px;
                    margin: 9px -18px 0 30px;
                    border-radius: 50px;
                    color: #fff;
                    text-align: center;
                    padding: 0!important;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    display: block;
                    text-decoration: none;
                    &:hover {
                        @extend %gradient__btn;
                        border: 1px solid rgba(64, 41, 41, 0);
                    }
                    @media (max-width: 600px) {
                        margin: 9px 4px 0 0px;
                    }
                }
                @media (max-width: 600px) {
                    &.search {
                        display: none;
                    }
                }
            }
        }
    }
}

.nav__fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: #4858d3;
    z-index: 9999;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    padding: 10px 40px 5px;
    @media (max-width: 660px) {
        padding: 10px 20px;
        position: fixed;
    }
}