.login__blk {
    margin: 0;
    padding: 0;
    background: #fff;
    float: left;
    width: 100%;
    .left_blk {
        margin: 0;
        padding: 87px 0 0 0;
        height: 100vh;
        display: flex;
        float: left;
        text-align: center;
        @media (max-width: 768px) {
            height: auto;
        }
        img {
            margin-left: auto !important;
            width: 90%;
            margin: 0 -10% 0 0;
            @media (max-width: 768px) {
                margin: 0px auto 0 !important;
                width: 50%;
            }
        }
    }
    .right_blk {
        margin: 0;
        padding: 87px 0 0 0;
        height: 100vh;
        display: flex;
        float: left;
        @media (max-width: 768px) {
            height: auto;
            padding: 50px 0;
        }
        .login__form {
            width: 300px;
            margin: 0 auto;
            @media (max-width: 400px) {
                width: 90%;
                margin: 0 5%;
            }
            img {
                margin: 80px 0 40px 0;
                @media (max-width: 768px) {
                    margin: 0px 0 40px 0;
                }
            }
            h2,
            h3 {
                width: 100%;
                text-align: left;
                font-size: 33px;
                color: #606060;
                font-weight: 300;
                margin: 0 0 15px 0;
            }
            h2 {
                font-size: 19px;
                color: #6652a0;
            }
            h3 {
                font-size: 15px;
                letter-spacing: 0.08em;
                text-align: left;
                color: #606060;
                margin: 0px 0 15px 0;
            }
            p {
                margin: 20px 0 40px 0;
                padding: 0;
                color: #606060;
                font-size: 12px;
                font-weight: 300;
            }
            .form-group {
                margin: 0 0 20px 0;
                .form-control {
                    height: 40px;
                    border-radius: 0;
                    border: 1px solid rgba(0, 0, 0, 0.2196078431372549);
                    font-weight: 400px;
                    color: #606060;
                }
                a {
                    color: #ff8e4e;
                    font-size: 13px;
                    font-weight: 400;
                    margin: 5px 0 0px 0;
                }
            }
            .btn {
                width: 100%;
                margin: 16px 0 0 0;
                height: 34px;
                padding: 0;
                border-radius: 50px;
                border: none;
                @extend %gradient__btn;
            }
            .register__btn {
                background: transparent!important;
                border: 1px solid #ddd;
                color: #848484;
            }
            .back {
                font-weight: 400;
                color: #606060;
                font-size: 16px;
                margin: 25px 0 0 0;
                float: left;
            }
        }
    }
}

.otp_blk {
    .right_blk {
        margin: 0 auto!important;
    }
    h2 {
        @media (max-width: 767px) {
            margin: 55px 0 43px 0!important;
        }
    }
}

.sign_up--blk {
    width: 100%;
    float: left;
    min-height: 100vh;
    display: flex;
    @extend %slide0;
    .signup__wrapper {
        width: 450px;
        height: auto;
        min-height: 100px;
        margin: 170px auto 50px;
        @media (max-width: 600px) {
            margin: 100px auto 50px;
        }
        h1,
        p {
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
            color: #fff;
        }
        h1 {
            font-size: 40px;
            font-family: 'Futura LH';
            font-weight: 300;
            margin: 0 0 10px 0;
            @media (max-width: 600px) {
                font-size: 35px;
            }
        }
        p {
            font-family: 'Futura LH';
            font-weight: 300;
            font-size: 12px;
            margin: 0 0 35px 0;
            @media (max-width: 600px) {
                font-size: 13px;
            }
        }
        .signup__holder {
            background: #fff;
            padding: 45px 75px;
            text-align: center;
            border-radius: 5px;
            .custom-select {
                width: 100% !important;
                background-color: #fff;
            }
            @media (max-width: 600px) {
                padding: 45px 35px;
            }
            h2 {
                margin: 0 0 40px 0;
                padding: 0;
                font-size: 30px;
                font-weight: 300;
                color: #606060;
            }
            label {
                float: left;
                width: 100%;
                text-align: left;
                color: #606060;
                font-size: 14px;
                font-weight: 400;
                margin: 0 0 4px 0;
            }
            .form-group {
                margin: 0 0 20px 0;
                .form-control {
                    height: 40px;
                    border-radius: 0;
                    border: 1px solid rgba(0, 0, 0, 0.2196078431372549);
                    font-weight: 400px;
                    color: #606060;
                }
            }
            .btn {
                width: 100%;
                margin: 16px 0 0 0;
                height: 34px;
                padding: 0;
                border-radius: 50px;
                border: none;
                @extend %gradient__btn;
            }
        }
    }
}