.top_banner--blk {
    width: 100%;
    float: left;
    height: 100vh;
    display: flex;
    @extend %gradient__bg;
    @media (max-width: 768px) {
        height: 80vh;
    }
    div {
        width: 100%;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        ;
    }
    h1 {
        font-size: 40px;
        font-weight: 500;
        color: #fff;
        margin: 70px 0 0 0;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        span {
            font-weight: 300!important;
        }
        @media (max-width: 660px) {
            font-size: 23px;
        }
    }
    p {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        @media (max-width: 660px) {
            font-size: 13px;
            margin-top: 20px;
        }
    }
    img {
        width: 255px;
        margin: 24vh 0 0 0;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5;
        visibility: hidden;
        @media (max-width: 660px) {
            width: 120px;
        }
    }
}

.main__container {
    min-height: 100%;
    width: 100%;
    padding: 167px 0 0 0;
    background: #fff;
    position: relative;
    @media (max-width: 768px) {
        padding: 100px 0 0 0;
    }
}

.transaction__history--blk {
    .table-responsive {
        min-height: 53vh;
    }
    .top__table-search {
        margin: 25px 0 0 0;
        .form-control {
            height: 42px;
            border-radius: 0;
            border: 1px solid #d4d4d4;
            text-align: center;
        }
        a {
            float: right;
            img {
                height: 34px;
            }
        }
    }
    .table__blk {
        min-height: 45vh;
        thead {
            tr {
                th {
                    font-size: 15px;
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 15px;
                    text-align: center;
                    font-weight: 300;
                    vertical-align: middle;
                }
            }
        }
    }
    .logos__blk {
        -webkit-box-pack: justify!important;
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
        display: flex;
        padding: 10px 0 70px;
        @media (max-width: 1100px) {
            display: block;
            img {
                margin: 10px;
            }
        }
    }
    .table-responsive {
        .table {
            @media (max-width: 768px) {
                margin: 10px 0 0 0;
                width: 800px;
                max-width: none;
            }
        }
    }
}

.main_heading {
    margin: 5px 0 100px 0;
    padding: 0;
    font-family: 'Futura Md BT';
    font-size: 35px;
    color: #6652a0;
    font-weight: 500;
    width: 100%;
    text-align: center;
    @media (max-width: 768px) {
        margin: 5px 0 30px 0;
    }
}

.sub_heading {
    margin: 5px 0 50px 0;
    padding: 0;
    font-size: 36px;
    color: #6652a0;
    font-family: 'Futura Md BT';

    font-weight: 500;
    width: 100%;
    text-align: center;
    @media (max-width: 768px) {
        margin: 0px 0 20px 0;
        font-size: 30px;
    }
}

.points__calculator--blk {
    .left_blk {
        padding-right: 50px;
        @media (max-width: 768px) {
            padding-right: 15px;
        }
        p {
            color: #000;
            font-size: 15px;
            font-family: 'Futura Bk';
        }
        ul {
            margin: 40px 0 0 0;
            padding: 0;
            li {
                display: inline-block;
                width: 100%;
                float: left;
                position: relative;
                font-size: 18px;
                color: #606060;
                padding: 0 0 3px 22px;
                font-family: 'Futura Bk';
                span {
                    font-weight: 500;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background: #de427b;
                    left: 0;
                    top: 10px;
                }
                &.orange_color {
                    &:after {
                        background: #ef7c32;
                    }
                }
                &.blue_color {
                    &:after {
                        background: #57baf7;
                    }
                }
            }
        }
    }
    .right_blk {
        form {
            margin: 0 0 0 0;
            padding: 0 0 0 26px;
            @media (max-width: 768px) {
                padding: 0 0 0 0;
                margin: 30px 0 0 0;
            }
            .form-control {
                background: #fafafa;
                border: 1px solid #e0e0e0;
                border-radius: 0;
            }
            .btn {
                width: 100%;
                margin: 0 0 0 0;
                height: 37px;
                padding: 0;
                border: none;
                font-weight: 500;
                font-size: 16px;
                @extend %gradient__btn;
                border-radius: 0;
                color: #fff;
                font-family: 'Futura Md BT';
                &:active {
                    @extend %gradient__btn;
                }
            }
            .point-blk {
                width: 100%;
                text-align: center;
                border: 1px solid #e0e0e0;
                padding: 25px 0;
                margin: 15px 0 50px 0;
                span {
                    color: #f6901e;
                    font-size: 36px;
                    font-weight: 700;
                }
            }
        }
    }
}

.contacts--blk {
    .left_blk {
        img {
            width: 100%;
            margin: -81px 0 0 0;
            @media (max-width: 767px) {
                margin: -35px 30% 30px;
                width: 40%;
            }
        }
    }
    .right_blk {
        .main_heading {
            margin: 5px 0 15px 0;
            padding: 0;
            font-size: 31px;
            color: #6652a0;
            font-weight: 500;
            width: 100%;
            text-align: left;
        }
        p {
            margin: 0 0 30px 0!important;
        }
        form {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            @media (max-width: 768px) {
                padding: 0 0 0 0;
                margin: 30px 0 0 0;
            }
            .form-control {
                background: #fafafa;
                border: 1px solid #e0e0e0;
                border-radius: 0;
                height: 48px;
            }
            .btn {
                width: auto;
                margin: 0 0 100px 0;
                height: 37px;
                padding: 0 30px;
                border: none;
                font-weight: 500;
                font-size: 16px;
                @extend %gradient__btn;
                border-radius: 0;
                color: #fff;
                &:active {
                    @extend %gradient__btn;
                }
            }
        }
    }
}

#search__holder {
    background-color: #ffffff !important;
    height: calc(100vh - 87px)!important;
    position: fixed;
    top: 87px;
    width: 100vw;
    z-index: 9;
    text-align: center;
    transform: scale(1, 1);
    input {
        width: 100vw;
        font-size: 52px;
        font-weight: 700;
        border: 0;
        text-transform: uppercase;
        color: #000 !important;
        text-align: center !important;
        &:focus {
            outline: none;
            border: none;
        }
    }
    .nav_close {
        position: absolute;
        top: 0;
        right: 23px;
        font-size: 23px;
        color: #989898;
    }
}

.rewards__blk {
    width: 100%;
    float: left;
    background: #fff;
    padding: 50px 0 50px;
    position: relative;
    z-index: 99;
    margin: 100vh 0 0 0;
    h1,
    h2,
    p {
        font-size: 32px;
        color: #6652a0;
        margin: 0 0 40px 0;
        width: 100%;
        text-align: center;
    }
    h1 {
        margin: 0 0 60px 0;
        font-family: 'Futura Bk BT';
        font-size: 30px;
    }
    h2 {
        font-size: 16px;
        font-weight: normal;
        margin: 25px 0 15px;
        font-family: 'Futura Bk';
    }
    p {
        font-size: 13px;
        font-family: 'Futura LH';
        width: 80%;
        margin: 0 auto 40px;
        color: #000;
    }
    img {
        width: 70%;
        @media (max-width: 767px) {
            width: 50%;
        }
    }
}

.our__brand--blk {
    background: url(../assets/img/ourbrand__bg.svg);
    padding: 42px 0 110px;
    width: 100%;
    float: left;
    z-index: 99;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: 0% 0%!important;
    background-attachment: fixed!important;
    position: relative;
    h1 {
        font-size: 34px;
        color: #fff;
        font-family: 'Futura Md BT';
        margin: 0 0 40px 0;
        width: 100%;
        text-align: center;
    }
    .col-lg-3 {
        margin: 0 0 15px 0!important;
    }
    a {
        text-decoration: none!important;
        &:hover {
            text-decoration: none!important;
        }
    }
    .card {
        padding: 0;
        border-radius: 0;
        margin: 0 0 0 0;
        height: 100%;
        min-height:170px;
        cursor: pointer;
        border:none;
        .card-header {
            height: 150px;
            text-align: center;
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background-color: #f6f6f6;
            border: none;
            border-radius: 0;
            div {
                display: flex;
                margin: 0 auto;
                img {
                    width: 100%;
                    float: left;
                }
            }
        }
        .card-body {
            text-align: center;
            padding: 0;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            transition: all .4s ease;
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 0;
            z-index: 5;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            h5 {
                margin: 0 0 8px;
                font-size: 20px;
                font-weight: 800;
                color: rgb(255, 255, 255);
            }
            p {
                padding: 0 10%;
                width: 100%;
                font-weight: 400;
                font-size: 13px;
                margin: 0;
                color: #ffffff;
            }
        }
        &:hover .card-body {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            z-index: 5;
            display: flex;
            &:before {
                position: absolute;
                content: '';
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                border-radius: 2px;
                opacity: 1;
                z-index: -1;
                -webkit-transform: scale(1);
                transform: scale(1);
                background-color: rgba(72, 88, 211, 0.85) !important;
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        &.view__all--brand {
            background: none;
            height: 100%;
            border: none;
            .card-header {
                background: none;
                height: 100%;
                .btn {
                    width: auto;
                    margin: 0;
                    height: 40px;
                    padding: 0 30px;
                    border: none;
                    font-weight: 500;
                    font-size: 16px;
                    @extend %gradient__btn;
                    border-radius: 50px;
                    color: #fff;
                    line-height: 40px;
                }
            }
        }
    }
}

.offer--blk {
    margin: 0 0 100px 0;
    .left_blk {
        padding-right: 50px;
        @media (max-width: 768px) {
            padding-right: 15px;
        }
        p {
            color: #000;
            font-size: 15px;
            font-weight: 300;
            margin: 0 0 50px 0;
           
        }
    }
    .main_heading {
        margin: 5px 0 50px 0;
    }
    .offers__blk {
        width: 100%;
        height: 100%;
        border: 1px solid #dcdcdc;
        margin: 0 auto 20px;
        // border-radius: 50%;
        text-align: center;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 0 20px 0;
        &:hover {
            border: 1px solid #3c67d5;
        }
        div {
            width: 100%;
            text-align: center;
            img {
                // width: 70px;
                margin: 40px 0 20px;
            }
        }
    }
    .card {
        border: none;
        p {
            font-size: 12px;
            width: 80%;
            margin: auto;
            color: #a1a1a1;
            line-height: normal;
            font-weight: 300;
            font-family: 'Futura LH';
        }
    }
    .carousel {
        opacity: 1 !important;
        margin: 0 0 80px 0;
        .carousel-indicators {
            bottom: -45px;
            li {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: hsla(241, 59%, 56%, 0.5);
            }
            .active {
                background-color: #504ed2!important;
            }
        }
    }
}

.map__search__blk {
    float: left;
    width: 100%;
    position: absolute;
    top: 260px;
    height: 60px;
    z-index: 9;
    .row {
        margin: 0 0 0 0!important;
    }
    .search {
        background: #fff;
        border-radius: 5px 0 0 5px;
        @media (max-width: 575px) {
            border-radius: 0!important;
        }
        .custom-select {
            width: 100%;
            float: left;
            margin-bottom: 10px;
            text-align: center;
        }
        .row {
            padding: 21px 35px 11px;
            min-height: 80px;
        }
    }
    button {
        height: 100%;
        width: 60px;
        border: 0;
        border-radius: 0 5px 5px 0;
        color: #fff;
        @extend %gradient__btn;
        @media (max-width: 575px) {
            width: 100%;
            border-radius: 0!important;
        }
    }
    .justify-content-md-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}

.content__holder {
    margin: 0 0 50px 0;
    @media (max-width: 768px) {
        margin: 0 15px 50px 15px;
    }
    h1 {
        font-weight: 300;
        font-size: 15px;
        color: #000;
        font-family: 'Futura Lt BT';
        margin: 0 0 15px 0;
    }
    p {
        font-weight: 300;
        font-size: 16px;
        color: #000;
        font-family: 'Futura Lt BT';
    }
    a {
        color: #f17f21!important;
        text-decoration: none;
        float: left;
        font-family: 'Futura Bk';
        font-size:15px;
        margin:-5px 0 0 0;
        &:hover {
            color: #4a55d3;
            text-decoration: underline;
        }
    }
    .media {
        -webkit-box-align: center!important;
        -ms-flex-align: center!important;
        align-items: center!important;
        background: #fff;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        padding: 35px 20px;
        margin: 0 0 10px 0;
        cursor: pointer;
        &:hover {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
        }
        p {
            margin: 0 0 10px 0;
            font-family: 'Futura LH';
            font-weight:300;
            font-size:14px;

        }
        .img__blk {
            width: 12vw;
            margin: 0 30px 0 0;
            text-align: center;
            @media (max-width: 768px) {
                width: 15vw;
            }
            img {
                width: auto;
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}

.about_img {
    width: 100%!important;
}

.grey_bg {
    background: #f2f3f6;
    &:after {
        height: calc(100vh - 529px);
        content: '';
        position: absolute;
        /* bottom: 0; */
        background: #f2f3f6;
        z-index: 1;
        width: 100%;
    }
}
.grey_bg1 {
    background: #f2f3f6;

}

.brand__img--blk {
    width: 100%;
    float: left;
    // margin: 30px 0 -273px 0;
    margin: 30px 0 0 0;
    text-align: center;
    img {
        width: 100%;
        margin: 0 auto;
    }
}

.rating__blk {
    border: 1px solid #e0e0e0;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 20px 0;
    h1 {
        margin: 0;
        padding: 0;
        font-weight: 700;
        color: #f69121;
        font-size: 40px;
    }
    p {
        margin: 0;
        padding: 0;
        font-weight: 500;
        color: #606060;
        font-size: 16px;
    }
    img {
        margin: 0;
        padding: 5px 0 9px;
        width: 45%;
    }
}

.collapse_blk {
    a[aria-expanded=false] {
        .fa-minus-circle {
            display: none;
        }
    }
    a[aria-expanded=true] {
        .fa-minus-circle {
            display: block;
        }
        .fa-plus-circle {
            display: none;
        }
    }
    p {
        margin: 0;
    }
    a {
        float: none;
        background: none;
        border: none;
        color: #606060;
        font-weight: 400;
        font-size: 21px;
        @media (max-width: 600px) {
            font-size: 16px;
        }
        &:hover,
        &:active,
        &:focus {
            background: none!important;
            border: none!important;
            color: #606060!important;
        }
        .fa {
            font-size: 40px;
            color: #ef7c32;
            float: left;
        }
        span {
            margin: 3px 0 0 15px;
            float: left;
            @media (max-width: 600px) {
                margin: 9px 0 0 15px;
            }
        }
    }
    .btn-primary:focus,
    .btn-primary.focus {
        span {
            color: #ef7c32;
        }
    }
    .collapse,
    .collapsing {
        width: 100%;
        float: left;
        padding: 0 0 0 28px;
        .card {
            border: none;
            background: transparent;
            border-left: 3px solid #ef7c32;
            border-radius: 0;
            margin: -9px 0 -9px 0;
            padding: 15px 2.25rem;
            @media (max-width: 600px) {
                padding: 15px 1rem;
            }
            &.card-body {
                p {
                    font-weight: 300;
                    font-size: 14px;
                    margin: 7px 0 25px 0;
                }
                ol {
                    float: left;
                    width: 100%;
                    li {
                        color: #ef7c32;
                        font-size: 14px;
                        font-weight: 500;
                        float: left;
                        width: 100%;
                    }
                }
                ul {
                    margin: 0 0 20px 0;
                    padding: 0;
                    width: 100%;
                    float: left;
                    li {
                        display: inline-block;
                        width: 100%;
                        float: left;
                        position: relative;
                        font-size: 14px;
                        color: #606060;
                        padding: 5px 0 0 27px;
                        font-weight: 400;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #ef7c32;
                            left: 0;
                            top: 12px;
                        }
                    }
                    span {
                        color: #ef7c32;
                        font-size: 14px;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .general_head {
        a {
            .fa {
                color: #de727b;
            }
        }
        .btn-primary:focus,
        .btn-primary.focus {
            span {
                color: #de727b;
            }
        }
    }
    .general_con {
        &.collapse,
        &.collapsing {
            .card {
                border-left: 3px solid #de727b!important;
                &.card-body {
                    p {
                        margin: 7px 0 5px 0;
                    }
                    ul {
                        margin: 0 0 20px 0;
                        li {
                            &:after {
                                background: #de727b;
                            }
                        }
                        span {
                            color: #de727b;
                        }
                    }
                    p {
                        span {
                            color: #de727b;
                            font-weight: 500;
                            margin-bottom: 5px!important;
                        }
                    }
                }
            }
        }
    }
    .terms_head {
        a {
            .fa {
                color: #57baf7;
            }
        }
        .btn-primary:focus,
        .btn-primary.focus {
            span {
                color: #57baf7;
            }
        }
    }
    .terms_con {
        &.collapse,
        &.collapsing {
            .card {
                border-left: 3px solid #57baf7!important;
                &.card-body {
                    p {
                        margin: 7px 0 5px 0;
                    }
                    ol {
                        li {
                            color: #57baf7;
                            margin: 0 0 20px 0;
                            span {
                                font-size: 14px;
                                color: #606060;
                                padding: 5px 0 0 10px;
                                font-weight: 400;
                            }
                        }
                    }
                    ul {
                        margin: 0 0 20px 0;
                        li {
                            &:after {
                                background: #57baf7;
                            }
                        }
                        span {
                            color: #57baf7;
                        }
                    }
                    p {
                        span {
                            color: #57baf7;
                            font-weight: 500;
                            margin-bottom: 5px!important;
                        }
                    }
                }
            }
        }
    }
}

.mt25 {
    margin-top: 20px!important;
}

.mt10 {
    margin-top: 10px!important;
}

#canvas {
    background: #222;
}

.map__block {
    position: relative;
    z-index: 99;
    ngui-map {
        height: 400px;
        @media (max-width: 575px) {
            height: 460px;
        }
    }
}

.modal {
    z-index: 99999999;
}

.offer__detail--blk {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999999999;
    color: #fff;
    @extend %gradient__navmain-bg;
    @media (max-width: 660px) {
        padding-top: 0;
        position: fixed;
    }
    .nav_close {
        position: absolute;
        top: 10px;
        z-index: 1;
        right: 0;
        margin: 30px 30px 0 0;
        cursor: pointer;
        img {
            width: 65px;
        }
    }
    .nav {
        height: 100vh;
        text-align: center;
        -webkit-box-align: center!important;
        -ms-flex-align: center!important;
        align-items: center!important;
        display: flex;
        -ms-flex-item-align: center!important;
        align-self: center!important;
        @extend %gradient__navlink;
        text-decoration: none!important;
        &:hover {
            @extend %gradient__navlink_click;
        }
        @media (max-width: 660px) {
            height: auto;
            background: none;
        }
        .nav__item {
            width: 100%;
            text-align: center;
            a {
                text-decoration: none;
            }
            h1 {
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 25px;
                font-weight: 700;
                text-transform: capitalize;
                margin: 40px 0 0 0;
                text-decoration: none;
                @media (max-width: 660px) {
                    margin: 30px 0 0 0;
                }
            }
            img {
                width: 90px;
                @media (max-width: 660px) {
                    display: none;
                }
            }
            .fa {
                color: #fff;
                font-size: 20px;
                margin: 25px 0 0 0;
                @media (max-width: 660px) {
                    margin: 15px 0 0 0;
                }
            }
        }
    }
    .close {
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 9999;
        cursor: pointer;
    }
    .cont__blk {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center !important;
        align-items: center !important;
        width: 80%;
        margin: 0 10%;
        position: relative;
        @media (max-width: 660px) {
            width: 100%;
            margin: 0;
        }
    }
    .media-carousel {
        margin-bottom: 0;
        padding: 10px 20px;
    }
    .carousel-control {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        i {
            color: #fff;
        }
    }
    .media-carousel {
        height: 100vh;
        text-align: center;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center !important;
        align-self: center !important;
        text-decoration: none !important;
        width: 100%;
        opacity: 1!important;
        @media (max-width: 660px) {
            padding: 10px 0;
        }
        .carousel-control {
            &.left,
            &.right {
                background-image: none;
                background: none repeat scroll 0 0 #524ad1;
                border: 1px solid rgba(255, 255, 255, 0.58);
                border-radius: 5px;
                height: 50px;
                font-size: 30px;
                width: 50px;
                line-height: 48px;
                position: absolute;
                top: calc(50% - 40px);
                @media (max-width: 660px) {
                    height: 36px;
                    font-size: 26px;
                    width: 36px;
                    line-height: 32px;
                }
            }
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
                left: auto;
            }
        }
    }
    .media-carousel .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
    .media-carousel .carousel-indicators li {
        background: #c0c0c0;
    }
    .media-carousel .carousel-indicators .active {
        background: #333333;
    }
    .media-carousel img {
        width: 100px;
    }
    .sub_heading {
        margin: 0 0 0px 0;
        padding: 0;
        font-size: 26px;
        color: #fff;
        font-family: 'Futura Md BT';

        font-weight: 500;
        width: 100%;
        text-transform: capitalize;
    }
    h3 {
        margin: 0 0 23px 0;
        padding: 0;
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        width: 100%;
    }
    p {
        font-size: 15px;
        margin: 10px 5% 30px;
        width: 90%;
        float: left;
    }
}

.animation__blk {
    #page-header-wrap,
    #header-space,
    #header-outer {
        height: auto!important;
        padding: 0!important;
    }
    #canvas {
        background: rgba(34, 34, 34, 0);
    }
}

ourbrand {
    height: auto;
}

.brand__details--blk {
    margin: 0px 0 0 0;
    // margin: 0px 0 57vh 0;
    z-index: 1;

}

.ToysRUs__bottom-bg {
    // position: absolute;
    // bottom: 0;
    // height: 68vh;
    // width: 100%;
    // background: url(../assets/img/con-bg-1.svg);
    // background-size: cover;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    // background-repeat: no-repeat;
}

.BabiesRUs__top-bg {
    // position: absolute;
    // top: 87px;
    // height: 28%;
    // width: 100%;
    // background: url(../assets/img/con-bg-4.svg);
    // background-size: cover;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    margin: 87px 0 0 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    @media (max-width: 768px){
        margin: 66px 0 -322px 0;
    }
    @media (max-width: 440px){
        margin: 61px 0 -12vh 0;
        position: relative;
    
    }
    
        img{
        width: 96% !important;
    }
}

.BabiesRUs__bottom-bg {
    // position: absolute;
    // bottom: 0;
    // height: 55vh;
    // width: 100%;
    // background: url(../assets/img/con-bg-7.svg);
    // background-size: cover;
    // background-position: 0 0;
    // background-repeat: no-repeat;
}

.about__bottom-bg {
    position: absolute;
    bottom: 30px;
    height: 25vh;
    width: 100%;
    background: url(../assets/img/about_bg.svg);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-repeat: no-repeat;

}

.expandable_box {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .5s;
    text-align: center;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
  
    .qodef-underline-icon-box-line{
        display: inline-block;
        width: 100%;
        height: 1px;
        line-height: 0;
        box-sizing: border-box;
        @extend %slide0;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transition: height .3s cubic-bezier(.25,.46,.45,.94);
        transition: height .3s cubic-bezier(.25,.46,.45,.94);

    }
    .shape-icon {
        -ms-transition: -ms-transform .2s ease-out;
        -webkit-transition: -webkit-transform .2s ease-out;
        transition: transform .2s ease-out;
    }
    &:hover {       
        .shape-icon {
            -webkit-transform: translateY(-7vh) translateZ(0);
            -moz-transform: translateY(-7vh) translateZ(0);
            transform: translateY(-7vh) translateZ(0);
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
        }
        .qodef-underline-icon-box-line{  
            height: 100%;
        } 
        .category{
             opacity: 1;
        }   
    }  
    .shape-icon {
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        color: #fff;
        z-index: 1;
        text-align: center;
        transition: 1200ms cubic-bezier(.4, 0, .2, 1);
        -webkit-transition: 1200ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 1200ms cubic-bezier(.4, 0, .2, 1);
        -o-transition: 1200ms cubic-bezier(.4, 0, .2, 1);
        img {
            margin: auto;
        }
    }
    .hover-icon {
        width: 143px;
        height: 143px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -70px;
        position: absolute;
        transition: 800ms cubic-bezier(.4, 0, .2, 1);
        -moz-transition: 800ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 800ms cubic-bezier(.4, 0, .2, 1);
        -o-transition: 800ms cubic-bezier(.4, 0, .2, 1);
    }
    .category {
        position: relative;
        z-index: 100;
        padding: 10px;
        padding-top: 70px;
        text-align: left;
        opacity: 0;
        font-size: 14px;
        color: #222;
        text-align: center;
        color:#fff;
        font-family: 'Futura Md BT';
    }
}

.navbar {
    ul {
        li {
            .search {
                display: none;
            }
        }
    }
}

#page-header-bg {
    .canvas-bg {
        &.Slide0 {
            @extend %slide0;
        }
        &.Slide1 {
            @extend %slide1;
        }
        &.Slide2 {
            @extend %slide2;
        }
        &.Slide3 {
            @extend %slide1;
        }
    }
    h1 {
        font-family: 'Futura Md BT';
        font-size: 55px;
        font-weight: normal!important;
        @media (max-width: 666px) {
            font-size: 33px!important;
            line-height: 37px;
        }
        span {
            font-family: 'Futura Lt BT';
        }
    }
    .subheader {
        font-family: 'Futura LH';
        font-size: 16px;
        font-weight: normal!important;
    }
}