.slider__blk {
    position: fixed;
    width: 100%;
    height: 100vh;
    @media (max-width: 768px) {
        position: relative;
        height: 80vh;
    }
    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }
    .carousel-item {
        height: 32rem;
        background-color: #777;
        &.item1 {
            width: 100vw;
            height: 100vh;
            float: left;
            @media (max-width: 768px) {
                position: relative;
                height: 80vh;
            }
            .top_banner--blk {
                background: #ed334b;
            }
        }
    }
    .pagination-navigation {
        text-align: center;
        margin: 0;
        display: block;
        font-size: 0;
        float: right;
        left: inherit;
        right: 17px;
        top: 50%;
        width: 33px;
        transform: translateY(-50%) translateZ(0);
        -webkit-transform: translateY(-50%) translateZ(0);
        -moz-webkit-transform: translateY(-50%) translateZ(0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        opacity: 0.9;
        line-height: 1px;
        z-index: 1000;
        height: 100px;
        .pagination-dot {
            position: relative;
            display: inline-block;
            width: 15px;
            height: 15px;
            padding: 0;
            line-height: 15px;
            background: transparent;
            border-radius: 50%;
            margin: 5px 7px;
            border: 1px solid #fff;
            outline: none;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            opacity: 0;
            &.active {
                background: #fff!important;
            }
        }
    }
}