body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden!important;
}

button,
a {
    cursor: pointer;
    outline: none!important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:focus {
        outline: none;
        box-shadow: none!important;
    }
}

.btn:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled).active {
    background-image: white!important;
}

.form-text {
    color: #d24744 !important;
}

.row.no-gutters {
    margin-right: 0px;
    margin-left: 0px;
    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }
}

.row.spacing6 {
    margin-right: -3px;
    margin-left: -3px;
    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 3px;
        padding-left: 3px;
        margin-bottom: 3px;
    }
}

.row.spacing10 {
    margin-right: -8px;
    margin-left: -8px;
    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 4px;
    }
}

.vmiddle-wrap {
    height: 100%;
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: -.4em;
    position: absolute;
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .vmiddle {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        letter-spacing: normal;
        text-align: center;
    }
}

%gradient__bg {
    background: rgba(110, 41, 206, 1);
    background: -moz-linear-gradient(left, rgba(110, 41, 206, 1) 0%, rgba(60, 103, 213, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(110, 41, 206, 1)), color-stop(100%, rgba(60, 103, 213, 1)));
    background: -webkit-linear-gradient(left, rgba(110, 41, 206, 1) 0%, rgba(60, 103, 213, 1) 100%);
    background: -o-linear-gradient(left, rgba(110, 41, 206, 1) 0%, rgba(60, 103, 213, 1) 100%);
    background: -ms-linear-gradient(left, rgba(110, 41, 206, 1) 0%, rgba(60, 103, 213, 1) 100%);
    background: linear-gradient(to right, rgba(110, 41, 206, 1) 0%, rgba(60, 103, 213, 1) 100%);
}

%gradient__btn {
    background: rgba(251, 175, 69, 1);
    background: -moz-linear-gradient(left, rgba(251, 175, 69, 1) 0%, rgba(231, 105, 111, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251, 175, 69, 1)), color-stop(100%, rgba(231, 105, 111, 1)));
    background: -webkit-linear-gradient(left, rgba(251, 175, 69, 1) 0%, rgba(231, 105, 111, 1) 100%);
    background: -o-linear-gradient(left, rgba(251, 175, 69, 1) 0%, rgba(231, 105, 111, 1) 100%);
    background: -ms-linear-gradient(left, rgba(251, 175, 69, 1) 0%, rgba(231, 105, 111, 1) 100%);
    background: linear-gradient(to right, rgba(251, 175, 69, 1) 0%, rgba(231, 105, 111, 1) 100%);
}

%gradient__nav {
    background: rgba(132, 49, 227, 1);
    background: -moz-linear-gradient(left, rgba(132, 49, 227, 1) 0%, rgba(132, 49, 227, 1) 4%, rgba(0, 147, 252, 1) 58%, rgba(0, 221, 214, 1) 90%, rgba(0, 221, 214, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(132, 49, 227, 1)), color-stop(4%, rgba(132, 49, 227, 1)), color-stop(58%, rgba(0, 147, 252, 1)), color-stop(90%, rgba(0, 221, 214, 1)), color-stop(100%, rgba(0, 221, 214, 1)));
    background: -webkit-linear-gradient(left, rgba(132, 49, 227, 1) 0%, rgba(132, 49, 227, 1) 4%, rgba(0, 147, 252, 1) 58%, rgba(0, 221, 214, 1) 90%, rgba(0, 221, 214, 1) 100%);
    background: -o-linear-gradient(left, rgba(132, 49, 227, 1) 0%, rgba(132, 49, 227, 1) 4%, rgba(0, 147, 252, 1) 58%, rgba(0, 221, 214, 1) 90%, rgba(0, 221, 214, 1) 100%);
    background: -ms-linear-gradient(left, rgba(132, 49, 227, 1) 0%, rgba(132, 49, 227, 1) 4%, rgba(0, 147, 252, 1) 58%, rgba(0, 221, 214, 1) 90%, rgba(0, 221, 214, 1) 100%);
    background: linear-gradient(to right, rgba(132, 49, 227, 1) 0%, rgba(132, 49, 227, 1) 4%, rgba(0, 147, 252, 1) 58%, rgba(0, 221, 214, 1) 90%, rgba(0, 221, 214, 1) 100%);
}

%gradient__navmain-bg {
    background: #447bbe;
    background: -moz-linear-gradient(top, #447bbe 0%, #5a4b9f 100%);
    background: -webkit-linear-gradient(top, #447bbe 0%, #5a4b9f 100%);
    background: linear-gradient(to bottom, #447bbe 0%, #5a4b9f 100%);
}

%gradient__navlink {
    background: #5a4b9f;
    background: -moz-linear-gradient(top, #5a4b9f 1%, #447bbe 100%);
    background: -webkit-linear-gradient(top, #5a4b9f 1%, #447bbe 100%);
    background: linear-gradient(to bottom, #5a4b9f 1%, #447bbe 100%);
}

%gradient__navlink_click {
    background: rgba(101, 63, 255, 1);
    background: -moz-linear-gradient(top, rgba(101, 63, 255, 1) 0%, rgba(101, 63, 255, 1) 10%, rgba(0, 147, 252, 1) 85%, rgba(0, 147, 252, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(101, 63, 255, 1)), color-stop(10%, rgba(101, 63, 255, 1)), color-stop(85%, rgba(0, 147, 252, 1)), color-stop(100%, rgba(0, 147, 252, 1)));
    background: -webkit-linear-gradient(top, rgba(101, 63, 255, 1) 0%, rgba(101, 63, 255, 1) 10%, rgba(0, 147, 252, 1) 85%, rgba(0, 147, 252, 1) 100%);
    background: -o-linear-gradient(top, rgba(101, 63, 255, 1) 0%, rgba(101, 63, 255, 1) 10%, rgba(0, 147, 252, 1) 85%, rgba(0, 147, 252, 1) 100%);
    background: -ms-linear-gradient(top, rgba(101, 63, 255, 1) 0%, rgba(101, 63, 255, 1) 10%, rgba(0, 147, 252, 1) 85%, rgba(0, 147, 252, 1) 100%);
    background: linear-gradient(to bottom, rgba(101, 63, 255, 1) 0%, rgba(101, 63, 255, 1) 10%, rgba(0, 147, 252, 1) 85%, rgba(0, 147, 252, 1) 100%);
}

%slide0 {
    background: rgba(154, 64, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 5%, rgba(0, 147, 252, 1) 54%, rgba(0, 221, 214, 1) 88%, rgba(0, 221, 214, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(154, 64, 227, 1)), color-stop(5%, rgba(154, 64, 227, 1)), color-stop(54%, rgba(0, 147, 252, 1)), color-stop(88%, rgba(0, 221, 214, 1)), color-stop(100%, rgba(0, 221, 214, 1)));
    background: -webkit-linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 5%, rgba(0, 147, 252, 1) 54%, rgba(0, 221, 214, 1) 88%, rgba(0, 221, 214, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 5%, rgba(0, 147, 252, 1) 54%, rgba(0, 221, 214, 1) 88%, rgba(0, 221, 214, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 5%, rgba(0, 147, 252, 1) 54%, rgba(0, 221, 214, 1) 88%, rgba(0, 221, 214, 1) 100%);
    background: linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 5%, rgba(0, 147, 252, 1) 54%, rgba(0, 221, 214, 1) 88%, rgba(0, 221, 214, 1) 100%);
}

%slide1 {
    background: rgba(255, 33, 163, 1);
    background: -moz-linear-gradient(45deg, rgba(255, 33, 163, 1) 0%, rgba(255, 93, 34, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 33, 163, 1)), color-stop(100%, rgba(255, 93, 34, 1)));
    background: -webkit-linear-gradient(45deg, rgba(255, 33, 163, 1) 0%, rgba(255, 93, 34, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 33, 163, 1) 0%, rgba(255, 93, 34, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 33, 163, 1) 0%, rgba(255, 93, 34, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 33, 163, 1) 0%, rgba(255, 93, 34, 1) 100%);
}

%slide2 {
    background: rgba(0, 141, 157, 1);
    background: -moz-linear-gradient(45deg, rgba(0, 141, 157, 1) 0%, rgba(2, 238, 116, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0, 141, 157, 1)), color-stop(100%, rgba(2, 238, 116, 1)));
    background: -webkit-linear-gradient(45deg, rgba(0, 141, 157, 1) 0%, rgba(2, 238, 116, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(0, 141, 157, 1) 0%, rgba(2, 238, 116, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0, 141, 157, 1) 0%, rgba(2, 238, 116, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 141, 157, 1) 0%, rgba(2, 238, 116, 1) 100%);
}

%right_nav-bg {
    background: rgba(154, 64, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 8%, rgba(0, 164, 252, 1) 70%, rgba(0, 241, 213, 1) 87%, rgba(0, 241, 213, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(154, 64, 227, 1)), color-stop(8%, rgba(154, 64, 227, 1)), color-stop(70%, rgba(0, 164, 252, 1)), color-stop(87%, rgba(0, 241, 213, 1)), color-stop(100%, rgba(0, 241, 213, 1)));
    background: -webkit-linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 8%, rgba(0, 164, 252, 1) 70%, rgba(0, 241, 213, 1) 87%, rgba(0, 241, 213, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 8%, rgba(0, 164, 252, 1) 70%, rgba(0, 241, 213, 1) 87%, rgba(0, 241, 213, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 8%, rgba(0, 164, 252, 1) 70%, rgba(0, 241, 213, 1) 87%, rgba(0, 241, 213, 1) 100%);
    background: linear-gradient(45deg, rgba(154, 64, 227, 1) 0%, rgba(154, 64, 227, 1) 8%, rgba(0, 164, 252, 1) 70%, rgba(0, 241, 213, 1) 87%, rgba(0, 241, 213, 1) 100%);
}

.grey_color {
    color: #606060!important;
    fill: #606060!important;
    border-color: #606060!important;
    path,
    polygon,
    rect {
        fill: #606060!important;
    }
    .fa {
        color: #606060!important;
        &:after {
            border-left: 1px solid #606060!important;
        }
    }
    .login_btn {
        border-color: #606060!important;
        color: #606060!important;
    }
}

@media (max-width: 767px) {
    .grey_color {
        color: #fff!important;
        fill: #fff!important;
        border-color: #fff!important;
        path,
        polygon,
        rect {
            fill: #fff!important;
        }
        .fa {
            color: #fff!important;
            &:after {
                border-left: 1px solid #fff!important;
            }
        }
        .login_btn {
            border-color: #fff!important;
            color: #fff!important;
        }
    }
}

.form-control {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 13px;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 13px;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        font-size: 13px;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        font-size: 13px;
    }
}

.h130 {
    height: 130px!important;
}

.o_auto {
    overflow: inherit!important;
}

.pb200 {
    padding-bottom: 200px!important;
}

.custom-select {
    width: 100%!important;
    background-color: rgb(226, 226, 226);
    option {
        background: #fff;
    }
}

// .main--holder {
//     public-views {
//         about,
//         brand,
//         contact,
//         faq,
//         forgot-password,
//         login,
//         offers,
//         otp,
//         ourbrand,
//         points-calculator,
//         profile,
//         signup,
//         tablez,
//         transaction-history {
//             position: relative;
//             z-index: 1;
//             width: 100%;
//         }
//     }
// }
.modal-backdrop {
    z-index: 998;
    background-color: rgba(68, 93, 212, 0.4117647058823529);
}

.modal {
    z-index: 99999999;
}

@font-face {
    font-family: 'Futura LH';
    src: url('../assets/fonts/FuturaLH-Light.woff2') format('woff2'), url('../assets/fonts/FuturaLH-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Light.woff2') format('woff2'), url('../assets/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk';
    src: url('../assets/fonts/Futura-Book.woff2') format('woff2'), url('../assets/fonts/Futura-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('../assets/fonts/FuturaBT-Light.woff2') format('woff2'), url('../assets/fonts/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2'), url('../assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2'), url('../assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Thin.woff2') format('woff2'), url('../assets/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('../assets/fonts/BentonSans-Regular.woff2') format('woff2'), url('../assets/fonts/BentonSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../assets/fonts/FuturaBT-Medium.woff2') format('woff2'), url('../assets/fonts/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('../assets/fonts/FuturaBT-Book.woff2') format('woff2'), url('../assets/fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../assets/fonts/AvenirLTStd-Black.woff2') format('woff2'), url('../assets/fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.custom-select {
    width: 100% !important;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Futura Md BT';
}

.form-control {
    font-size: 14px;
    font-family: 'Futura Md BT';
}

// .path {
//     stroke-dasharray: 100;
//     stroke-dashoffset: 10;
//     -webkit-animation: dash 15s ;
//     animation: dash 15s  ;
//     -webkit-animation-duration: 1s;
//     animation-duration: 25s;
//   }
//   @keyframes dash {
//     from {
//       stroke-dashoffset: 1000;
//     }
//     to {
//       stroke-dashoffset: 0;
//     }
//   }
.path {
    stroke-dasharray: 350;
    stroke-dashoffset: 10;
    -webkit-animation: dash 15s;
    animation: dash0 15s;
    -webkit-animation-duration: 1s;
    animation-duration: 15s;
}

@keyframes dash0 {
    from {
        stroke-dashoffset: 350;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 10;
    -webkit-animation: dash 15s;
    animation: dash1 15s;
    -webkit-animation-duration: 1s;
    animation-duration: 15s;
}

@keyframes dash1 {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.path2 {
    stroke-dasharray: 450;
    stroke-dashoffset: 10;
    -webkit-animation: dash 15s;
    animation: dash2 15s;
    -webkit-animation-duration: 1s;
    animation-duration: 15s;
}

@keyframes dash2 {
    from {
        stroke-dashoffset: 450;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.path3 {
    stroke-dasharray: 500;
    stroke-dashoffset: 10;
    -webkit-animation: dash 15s;
    animation: dash3 15s;
    -webkit-animation-duration: 1s;
    animation-duration: 15s;
}

@keyframes dash3 {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
    }
}