<!-- Top Navigation -->
<ur-header class="">
</ur-header>

<!-- Forgot Form -->
<div class="col-lg-12 login__blk">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-6  align-items-center left_blk">
        </div>
        <div class="col-lg-6 col-md-6  align-items-center right_blk">
            <div class="login_btn">
                <h3>Enter One Time Password (OTP)</h3>
                <p>OTP has been sent to your mobile ******3868. Enter the OTP to login.</p>
                <form>
                    <div class="form-group">
                        <input type="otp" class="form-control" id="exampleInputOTP" aria-describedby="otplHelp" placeholder="OTP">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <a class="pull-left">Please enter OTP
            </a>
                        <!-- <a class="pull-right">Get OTP on call
            </a> -->
                    </div>


                    <button type="submit" class="btn btn-primary" href="javascript:void(0)">Login</button>
                </form>
            </div>
        </div>

    </div>
</div>
<div *ngIf="showSideMenu">
    <div class="nav__holder animated slideInRight">
        <a class="nav_close" (click)="showNav(false)">
            <img src="assets/img/close.svg" alt="">
        </a>
        <div class="row justify-content-around no-gutters">
            <div class="col-3">
                <a class="nav">
                    <div class="nav__item">
                        <img src="assets/img/menu_icon.svg" alt="">
                        <h1>Store Locator</h1>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>

                    </div>
                </a>

            </div>
            <div class="col-3">
                <a class="nav">
                    <div class="nav__item">
                        <img src="assets/img/menu_icon.svg" alt="">
                        <h1>Brands</h1>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </a>

            </div>
            <div class="col-3">
                <a class="nav">
                    <div class="nav__item">
                        <img src="assets/img/menu_icon.svg" alt="">
                        <h1>Offers</h1>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </a>

            </div>
            <div class="col-3">
                <a class="nav">
                    <div class="nav__item">
                        <img src="assets/img/menu_icon.svg" alt="">
                        <h1>Points Calculator</h1>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>


<!-- search -->
<div *ngIf="searchMenu" id="search__holder" class="row align-items-center animated pulse">
    <a class="nav_close" (click)="showSearchMenu(false)">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <div>
        <input type="text" placeholder="Start Typing...">
    </div>
</div>