<!-- Top Navigation -->
<auth-header>
</auth-header>

<section class="main__container">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="col col-lg-10 contacts--blk content__holder">
                <div class="sub_heading">About</div>
                <div class="row content__blk row align-items-center">


                    <div class="col-lg-12 col-md-12 right_blk">
                        <h1>Rewarding Brand Tablez’s Loyal Shopper </h1>
                        <p>The ACCESS REWARDS Program is a premier customer loyalty program introduced by Tablez India, the multi-brand retail conglomerate.
                            <br>
                            <br>The FREE membership program focuses completely on you as the customer, transforming brand Tablez’s shopping experiences to the exclusive and finest, while creating better value for money. ACCESS REWARDS Program is about
                            more happiness in the now.
                            <br>
                            <br>ACCESS REWARDS Program’s special offers and attractive promotions, along with loyalty points from every shopping, creates a passport to more happiness. With member-only previews and tailor-made deals, ACCESS REWARDS is
                            about more and even more for you.
                            <br>
                            <br> Take advantage of the special enrollment bonus that will inspire you to start enjoying the benefits right away.
                            <br>
                            <br> So, what’s on your list today?
                        </p>
                        <a target="blank" href="http://tablez.com/">Visit Website </a>
                    </div>
                    <!-- <div class="col-lg-5 col-md-5 left_blk text-center">
            <img class="about_img" src="assets/img/about.svg" alt="">
          </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div class=""> <img class="about_img" src="assets/img/7.gif" alt=""></div>